
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    @font-face {
      font-family: 'jameel noori nastaleeq kasheeda';
  src: url(' "C:\Users\NA\Downloads\jameel-noori-nastaleeq-kasheeda\Jameel Noori Nastaleeq Kasheeda\Jameel Noori Nastaleeq Kasheeda.ttf" ');}
  }
  
*{
    font-family:"Poppins", sans-serif;
}   
h1{
  font-family:"jameel noori nastaleeq kasheeda" ;
}
